:root{
  --display-primary: flex;
}

*, a, button, input, li {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

#resume-form > * {
    margin-top: 15px;
}
.flex{
  display: flex;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.build{
  display: var(--display-primary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 28px;
}
.resume{
  display: none;
}
.set_divs{
  display: var(--display-primary);
  flex-direction: column;
  margin: 0 10% 2% 10%;
}
.set_divs > *{
  margin: 2% 0 2% 0;
}

input[type="text"]{ padding: 0; line-height: 10px; }

.br{
  width: 90%;
  border: 1px solid black;
  margin: 0 5% 0 5%;

}
